<div class="container-fluid">
    <div class="row">
        <div style="min-height: 100vh;" class="col-lg-2 bg-success">
            <app-sidebar></app-sidebar>
        </div>
        <div class="col-lg-10">
            <!-- navbar -->
             <div class="row bg-warning text-light p-3">
               <div class="d-flex justify-content-between align-items-center">
                    <h1><button class="btn"><i class="fa-solid fa-bars text-light fa-2x"></i></button>Welcome to Admin Dashboard</h1>
                    <div class="dropdown">
                        <button type="button" data-bs-toggle="dropdown" class="btn dropdown-toggle text-light"><i class="fa-solid fa-user"></i></button>
                        <ul class="dropdown-menu text-center">
                            <li> <button class="btn fw-bolder">Logout <i class="fa-solid fa-right-from-bracket"></i></button></li>
                        </ul>
                    </div>
               </div>
             </div>
        </div>
    </div>
</div>